<div class="login">
    <diV class="login__header">
        <img src="../../assets/amazonnn--pandaa.png" alt="logo">
        <!-- <span>.in</span> -->
        <diV>
            .in
        </diV>
    </diV>

    <div class="login__box">


        <img class="login__imageButton" src="https://raw.githubusercontent.com/fireflysemantics/logo/master/Google.svg">
      
        <button mat-button (click)= "signInwithGoogle()"> Login using Google </button>
    </div>


    <div class="strikeAmazon">
            <h5>New to Amazon ?</h5>
    </div>

    <button class="login__createNewAccount"  mat-button> Create a new Account</button>
</div>