<div class="checkout">
    <h2> Shopping Cart</h2>

    <diV class="checkout__product" *ngFor="let element of arrProducts ; let i = index;">
        <img src="{{element.avatar}}">
        <diV class="checkout__productInfo">
            <h2>{{element.title}}</h2>

            <p class="checkout__price">
                <small>₹</small>
                <strong>{{element.price}}</strong>
            </p>
            <button mat-button (click)="deleteProduct(i)">Delete</button>
        </diV>
    </diV>

    <div class="checkout__total">
        <h3>Sub Total : {{grandTotal}} </h3>
        <button mat-button >Proceed to Buy</button>
    </div>
</div>