<div class="home">

    <!-- <mat-carousel class="home__slider" >
        <mat-carousel-slide  [image] = imageCaro >
            ...
          </mat-carousel-slide>
          <mat-carousel-slide  [image] = imageCaro >
            ...
          </mat-carousel-slide>
    </mat-carousel> -->

<!-- <img class="home__image" src="https://images-eu.ssl-images-amazon.com/images/G/31/AmazonVideo/2020/X-site/Multititle/Aug/1500x600_Hero-Tall_np._CB404803728_.jpg"> -->

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class=" home__image" src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Events/jupiter20/GWphase2/v2/Phase2_Unrec_PC_1X_Hero_1500x600._CB417374214_.jpg" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class=" home__image" src="https://images-eu.ssl-images-amazon.com/images/G/31/img20/Fashion/EVENT/Jupiter_GW_Softlines/Phase_2/V2/V3-PC/Unrec_Template_1500x600fst._CB417368948_.jpg" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class=" home__image" src="https://images-eu.ssl-images-amazon.com/images/G/31/AmazonVideo/2020/X-site/Multititle/Aug/1500x600_Hero-Tall_np._CB404803728_.jpg" alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

<diV class="home__categories">
    <app-category class="home__categories--category" *ngFor= "let element of filterData" [title] = "element.title" ></app-category>
</diV>

</div>
